{% extends "base.html" %}
{% load static %}

{% block body %}

    <div class="container py-4">
        <div class="row">
    
            <div class="col-lg-3 col-md-12">
    
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Categories
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item "><a href="/">All Photos</a></li>
                        {% for cato in category %}
                        <li class="list-group-item list-group-item-secondary"><a href="{% url 'gallery' %}?category={{cato.name}}">{{cato.name}}</a></li>
                        {% endfor %}
                        <a href="{% url 'add-image' %}" class="btn btn-dark btn-block m-1 btn-large">Add Photo</a>
                    </ul>
                </div>
    
            </div>
    
            <div class="col-lg-9 col-md-12">
                <div class="row">
                    <style>
                        .img-thumbnail{
                            height: 250px;
                        }
                    </style>

                    {% for photo in photos %}
                    <div class="col-lg-4 col-md-6">
                        <div class="card my-2">
                            <img src="{{photo.photo.url}}" class="img-thumbnail" alt="photo">

                            <div class="mt-2 mx-1">
                                <small class="">Category: {{photo.category.name}}</small>
                            </div>
                            <a href="{% url 'view-image' photo.id %}" class="btn btn-outline-dark btn-block m-1">View Photo</a>
                        </div>
                    </div>
                    
                    {% empty %}
                        <h3>No Photos... </h3>
                    {% endfor %}
                </div>
            </div>
    
        </div>
    </div>
{% endblock body %}
    